@model MoviesShopProxy.DomainModel.Movie

<p>You are buying @Model.Title, it costs @Model.Price$</p>

<form role="form">
    <div class="form-group">
        <label for="firstname">Firstname:</label>
        <input type="text" class="form-control" id="FirstName">
    </div>
    <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input type="text" class="form-control" id="LastName">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="Email">
    </div>
    <div class="form-group">
        <label for="streetname">Streetname:</label>
        <input type="text" class="form-control" id="StreetName">
    </div>
    <div class="form-group">
        <label for="streetnumber">Streetnumber:</label>
        <input type="text" class="form-control" id="StreetNumber">
    </div>
    <div class="form-group">
        <label for="zip">Zip-Code:</label>
        <input type="number"class="form-control" id="Zipcode">
    </div>
    <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="Country">
    </div>
   
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
